<p id="notice"><%= notice %></p>

<h1><%= @vacancy.name %></h1>


<p>
  <strong>Начало поиска:</strong>
  <%= @vacancy.start_date %>
</p>

<p>
  <strong>Конец поиска:</strong>
  <%= @vacancy.end_date %>
</p>

<p>
  <strong>Зарплата:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Необходимые умения:</strong>
  <%= @vacancy.skills.map(&:name).join(', ') %>
</p>

<%= render partial: "contact_info/contact", locals: {contacts: @vacancy.slice(:phone_number_formatter, :email)} %>



<%= link_to 'Изменить', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Назад', vacancies_path %>
